
*{
margin: 0;
padding: 0;
}
ol, ul {
  list-style: none;
}
html{
  width: 100%;
  background-image: url(../image/fon.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}
body, .container {
  max-width: 1200px;
  margin: 0 auto;
}
header{
  display: flex;
  background: var(--bs-gray-dark);
}
.navbar {
  background: var(--bs-gray-dark);
}
.logotips {
  width: 70%;
}
.alert {
  position: absolute;
  top: 50px;
  left: 70%;
}
.no_activeAlert{
  visibility: hidden;
}
.contain{
  width: 800px;
  padding: 5px 0px;
  margin: 10px auto;
}
.border_keys{
  padding: 6px 6px 6px 10px;
  border: 1px solid #ebafaf;
  border-radius: 8px;
  background-color: rgba(227, 218, 207, 0.864);
}
.blocks {
  display: flex;
  height: 52px;
  margin: 4px 0px;
}
.key_1 {
  display: flex;
  width: 50px;
  height: 50px;
  margin-right: 4px;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  background: darkgray;
  border: 1px solid black;
  border-radius: 3px;
}
.painting {
  background-color: rgba(159, 247, 97, 0.643);
}
.visual{
  height: 180px;
  background-color: darkgray;
  margin: 15px 0px;
  padding-left: 15px;
}
.block_info {
  display: flex;
}
.metka {
  justify-content: end;
}
.stroka {
  justify-content: start;
}
.err_or_activ {
  background-color: coral;
}
.metka, .stroka, .err_or {
  width: 33.3333%;
  display: flex;
}
.info {
  padding: 0 8px;
  font-size: 1.2em;
  color: rgb(112, 155, 155);
}
.test_text {
  font-size: 1.6em;
  letter-spacing: 8px;
}
.activeKey {
  margin-top: 1px ;
  filter: brightness(66%);
}
.max {
  width: 75px;
}
.max_2 {
  width: 100px;
}
.max_0 {
  width: 85px;
}
.max_3 {
  width: 120px;
}
.max_sp{
width: 330px;}
.blue {
  background-color: rgba(129, 165, 199, 0.87);
}
.blue_white {
  background-color: darkturquoise;
}
.pink {
  background-color: rgba(241, 158, 200, 0.884);
}
.green {
  background-color: greenyellow;
}
.orange {
  background-color: coral;
}